* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Fredoka", sans-serif;
    font-weight: 700;
    font-style: normal;
}

body{
    background-color: white;
}

$color1:#354953;
$color2:#C3E5EE;

$border-r:10px;